.cc-nav {
  height: $nav-height;
  width: 100%;
  background-color: $dark;
}

.nav-wrapper {
  height: 100%;

  @include flex(row, space-between, center);

  h1 {
    color: $white;
  }
}

.nav-links {
  ul {
    height: 100%;
    padding: 0;
    margin: 0;

    @include flex(row, flex-end, center);

    a {
      height: 100%;
      list-style: none;

      @include flex(row, center, center);
    }
  }
}
